In [2]:
is_christmas = input('날짜를 입력해주세요 ex)12/24: ')
if is_christmas == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

날짜를 입력해주세요 ex)12/24: 12/25
크리스마스입니다.

In [3]:
num = int(input('숫자를 입력하세요 : '))
if num % 2: # ==1 을 안 적어도 된다. True이기 때문에
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력하세요 : 3
홀수입니다.

In [5]:
score = int(input('점수를 입력하세요 : ')) #복수조건문 활용하기
if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

점수를 입력하세요 : 95
A
참 잘했어요

In [7]:
a = int(input('숫자를 입력하세요 : '))
print('0보다 큼') if a > 0 else print('0보다 작음')

숫자를 입력하세요 : -5
0보다 작음

In [9]:
num = -5
if num >= 0:
    value = num
else:
    value = 0
print(value)

0

In [10]:
num = int(input('숫자를 입력하세요 : '))
if num >= 0:
    value = num
else:
    value = -num
print(value)
#절대값 출력하기 조건 표현식을 if문으로

숫자를 입력하세요 : -5
5

In [12]:
num = 2
print('홀수입니다.') if num % 2 else print('짝수입니다.')
#조건표현식

짝수입니다.

In [13]:
a = 0
while a < 5:
    print(a)
    a += 1
print('끝')

0
1
2
3
4
끝

In [14]:
says = ''
while says != '안녕':
    print('안녕하세요')
    says = input()
print('끝')

안녕하세요
ㅇ
안녕하세요
안
안녕하세요
안녕
끝

In [23]:
says = input()
while says != '안녕':
    print('안녕하세요')
    says = input()

아
안녕하세요
안녕

In [21]:
s = input('입력하세요 : ')

for i in s:
    print(i)

입력하세요 : 안녕!
안녕!
안
녕
!
3

In [20]:
dust = [59, 24, 102]
for i in dust:
    print(i)

59
24
102
3

In [2]:
def func1():
    x = 10
    
    def func2():
        nonlocal x
        
        x = 20
        
    func2()
    print(x)
    
    
func1()
print(x)

20

NameError: name 'x' is not defined

In [3]:
height = 30
width = 20

cir = (height * 2) + (width * 2)
area = height * width
print(f'직사각형 둘레: {cir}, 면적: {area}입니다.')

직사각형 둘레: 100, 면적: 600입니다.

In [6]:
def rectangle(width, height):
    area = width * height
    cir = 2 * (width + height)
    f'직사각형 둘레: {cir}, 면적: {area}입니다.'
    return

rectangle(30, 70)

직사각형 둘레: 200, 면적: 2100입니다.

In [8]:
def my_max(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2
my_max(1, 5)

5

In [9]:
def my_list_max(lst1, lst2):
    if sum(lst1) > sum(lst2):
        return lst1
    else:
        return lst2
my_list_max([10, 3], [5, 9])

[5, 9]

In [12]:
def cylinder(r, h):
    return r**2 * 3.14 * h

print(cylinder(5, 2))

157.0

In [ ]:
name = input()
def greeting(name):
    return f'{name}, 안녕?'

print(greeting(name))

In [ ]:
def greeting(age, name='john'):
    return f'{name}은 {age}살 입니다.'
print(greeting(1))

In [13]:
def my_max(a, b, c, d):
    return max(a, b, c, d)

print(my_max(1, 2, 3, 4))

4

In [14]:
def my_max(*args):
    result = 0
    for idx, val in enumerate(args):
        if idx == 0:
            result = val
        else:
            if val > result:
                result = val
    return result

print(my_max(10, 20, 30, 40))

40

In [15]:
def my_func(*args):
    return args

my_func(1, 2)

(1, 2)

In [16]:
for i in range(6):
    if i % 2 == 0:
        continue
        print(f'{i}는 짝수다')
    print(f'{i}는 홀수')

1는 홀수
3는 홀수
5는 홀수

In [19]:
ages = [10, 23, 8, 30, 25, 31]
for i in ages:
    if i < 20:
        continue
        
    print(f'{i} 살은 성인입니다.')

23 살은 성인입니다.
30 살은 성인입니다.
25 살은 성인입니다.
31 살은 성인입니다.

In [1]:
def square(num):
    return num**3
numbers = [1, 2, 3, 4, 5]
rlt = map(square, numbers)
print(list(rlt))

[1, 8, 27, 64, 125]

In [2]:
nums = ['1', '2', '3']
rlt = map(int, nums) #int는 내장함수라 def 안해도된다
print(list(rlt))

[1, 2, 3]

In [8]:
a, b = map(int, input().split())
print(a, b)

3 5
3 5

In [11]:
def odd(num):
    return num % 2
nums = [1, 2, 3, 4, 5]
rlt = filter(odd, nums)

print(list(rlt))

[1, 3, 5]

In [4]:
char = 'abce'
char.replace('abce', 'abcd')

'abcd'

In [12]:
print('sasdf'.istitle())
print('title t'.istitle())
print('Title Title'.istitle())
print('Title Exam'.istitle())
# 첫글자들 대문자 띄어쓰기, 특수문자 뒤

False
False
True
True

In [13]:
blood_types = [ 'A','A','O', 'B', 'A', 'O', 'AB','O', 'A', 'B', 'O', 'B', 'AB']

blood_dict = {}
for types in blood_types:
    if types not in blood_dict:
        blood_dict[types] = 1
    else:
        blood_dict[types] += 1
print(blood_dict)

{'A': 4, 'O': 4, 'B': 3, 'AB': 2}

In [14]:
print('!'.join('ssafy'))
print(' '.join(['3', '5']))

s!s!a!f!y
3 5

In [18]:
cafe = []
cafe.append(['hollys']) #리스트 자체를 넣음
print(cafe)
cafe.extend(['droptop', '빽다방']) #리스트 요소 하나하나를 넣음
print(cafe)

[['hollys']]
[['hollys'], 'droptop', '빽다방']

In [22]:
a = [1, 2, 5, 1, 5, 1]
a.count(1)
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)
    
print(a)

0
1
2
[2, 5, 5]

In [21]:
a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [25]:
a = [1, 2, 3]
b = a[:] # 전체 복사
print(id(a))
print(id(b))
b[0] = 5
print(a)
print(b)

2411166024256
2411165772288
[1, 2, 3]
[5, 2, 3]

In [26]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [27]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair =[(boy, girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [29]:
triangle_nums = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                triangle_nums.append((x, y, z))
print(triangle_nums)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [30]:
triangle_nums = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x**2 + y**2 == z**2]
print(triangle_nums)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [33]:
words = 'Life is too short, you need python!'
result = []

for word in words:
    if word not in 'aeiou':
        result.append(word)
print(''.join(result))

Lf s t shrt, y nd pythn!

In [34]:
my_dict = {'apple':'사과', 'banana':'바나나', 'melon':'멜론'}
my_dict.update(grape = '포도')
print(my_dict)

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'grape': '포도'}

In [37]:
my_dict = {'apple':'사과', 'banana':'바나나', 'melon':'멜론'}
print(my_dict.get('apple'))
print(my_dict['apple'])
print(my_dict.get('pineapple')) # 여기서는 None이 출력
print(my_dict['pineapple']) # 에러 key가 없음

사과
사과
None

KeyError: 'pineapple'

In [6]:
list_a = [1, 2, 3, 1, 1, 2]
set_list = set(list_a)
print(set_list)
print(list(set_list))
# list_b = []
# for i in set_list:
#     list_b.append(i)
# print(list_b)

{1, 2, 3}
[1, 2, 3]

In [7]:
menus = ['라면', '떡볶이', '김밥']
counts = 0
for menu in menus:
    counts += 1
print(len(menus))
print(counts)

3
3

In [8]:
menus = ['김치찜', '라면', '김밥', '김치찜', '오징어순대', '매운탕', '김치찜']
counts = 0
for menu in menus:
    if menu == '김치찜':
        counts += 1
print(counts)

3

In [15]:
numbers = [5, 4, 11 ,35, 436, 64, 896, 432]
numbers.sort()
print(numbers[-1])

896

In [16]:
numbers = [5, 4, 11 ,35, 436, 64, 896, 432]
max_number = numbers[0]
for number in numbers:
    if max_number < number:
        max_number = number
print(max_number)

896

In [17]:
numbers = [5, 4, 11 ,35, 436, 64, 896, 432]
min_number = numbers[0]
for number in numbers:
    if min_number > number:
        min_number = number
print(min_number)

4

In [19]:
word = input()
result = ''
for char in word:
    if char != 'p':
        result += char
print(result)

apple
ale

In [22]:
word = input()
reversed_word = ''
for index in range(len(word)-1,-1,-1):
    reversed_word += word[index]
    
print(reversed_word)

apple
elppa

In [24]:
word = input()
reversed_word = ''
for char in word:
    reversed_word = char + reversed_word
    
print(reversed_word)

bananan
nananab

In [25]:
number = int(input()) #정수 입력 받기
is_prime = 'Y'
for i in range(2, number):
    if number % i == 0:
        is_prime = 'N'
        break
        
print(is_prime)
# 소수 판별하기

5
Y

In [28]:
numbers = [36, 59, 41, 33, 17, 69, 85]

for number in numbers:
    for i in range(2, number):
        if number % i == 0:
            print(f'{number}는 소수가 아니다')
            break
    else:
        print(f'{number}는 소수다')

36는 소수가 아니다
59는 소수다
41는 소수다
33는 소수가 아니다
17는 소수다
69는 소수가 아니다
85는 소수가 아니다