In [1]:
print(164) #1월 16일 수업

164

In [2]:
x = 10
y = 20

tmp = x
x = y
y = tmp

print(x,y)

20 10

In [3]:
age = 25

print(type(age))

<class 'int'>

In [4]:
age = 25.1

print(type(age))

<class 'float'>

In [6]:
name = "h"
name1 = "he"
name2 = 'heo'
#'' or "" 로 이루어진 1개 -> 문자 #2개 이상-> 문자열
#파이썬에서는 문자를 문자열로 본다 다른 언어는 문자(char)

print(type(name))
print(type(name1))
print(type(name2))

<class 'str'>
<class 'str'>
<class 'str'>

In [7]:
isTrue = True
isFalse = False

print(type(isTrue))
print(type(isFalse))

check

checked
#불리안 자료형일 때 변수 앞에 is 붙이기

<class 'bool'>
<class 'bool'>

In [8]:
age = 25

print(id(age))

2471910206512

In [9]:
print(complex(3)) #complex 복소수

(3+0j)

In [11]:
print('hello \n world')
print('hello \t world')

hello
world
hello	world

In [12]:
age = 25
print(f'제 나이는 {age}살 입니다') #f-string 실무에 많이 사용

제 나이는 25살 입니다

In [13]:
test = None
print(test)

None

In [14]:
def func(): #나중에 자세히 배움
    print('hello wolrd')
    
print(func())

hello wolrd
None

In [17]:
a = 1
b = 1
print(id(a))
print(id(b))

c = [1]
d = [1]

print(a is b)
print(c is d) #is 객체 아이덴티티, 메모리공간까지 같은지 확인

2471910205744
2471910205744
True
False

In [19]:
a = 1
b = a
a = 2
print(b) #1

c = [1]
#print(id(c))
d = c
c.append(2)
#print(id(c))
print(d) #[1, 2]

e = [1]
f = e
f = [1,2]
print(e) #[1]

1
[1, 2]
[1]

In [ ]:
a = 1
b = 2
c = 3

i = [1, 2, 3]

In [20]:
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]

print(len(boxes)) #3
print(boxes[2]) #['apple', 'banana', 'cherry']
print(boxes[2][-1]) #cherry
print(boxes[-1][1][0]) #b

3
['apple', 'banana', 'cherry']
cherry
b

In [21]:
list_c = list(range(6))

print(list_c)

[0, 1, 2, 3, 4, 5]

In [ ]:
list_c = [80, 90, 80]

In [3]:
#1월 17일 수업
num_list = [0, 0, 0]
print(num_list)

num_list2 = [0] * 3
print(num_list2)

num_list3 = []
for _ in range(3):
    num_list3.append(0)
print(num_list3)

num_list4 = [0 for _ in range(3)]
print(num_list4)

num_list2[0] = 1
num_list4[0] = 1

print(num_list2)
print(num_list4)

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]
[0, 0, 0]
[1, 0, 0]
[1, 0, 0]

In [1]:
a = []

for i in range(3):
    line = []
    for j in range(3):
        line.append(0)
    a.append(line)
    
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [10]:
num_list = [[0, 0, 0],[0, 0, 0],[0, 0, 0]]
print(num_list)

num_list2 = [[0] * 3] * 3
print(num_list2)
print(id(num_list2[0]))
print(id(num_list2[1]))

num_list3 = []
for _ in range(3):
    num_list3.append([0, 0, 0])
print(num_list3)

num_list4 = [[0 for _ in range(3)] for _ in range(3)]
print(num_list4)

num_list2[0][0] = 1
num_list4[0][0] = 1

print(num_list2)
print(num_list4)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
1914429964992
1914429964992
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[1, 0, 0], [1, 0, 0], [1, 0, 0]]
[[1, 0, 0], [0, 0, 0], [0, 0, 0]]

In [12]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)
print(id(a))
print(id(b))

[1, 2, 3, 4]
1914430036800
1914430036800

In [ ]:
#로켓펀치
#원티드
#

In [1]:
# 1월 18일
def func1():
    print('func1 시작')
    
    def func2():
        print('func2 시작')
        print('func2 끝')
        return
    
    func2()
    return


func1()

func1 시작
func2 시작
func2 끝

In [7]:
#global
x = '글로벌!' #글로벌에 있음
def func1():
    x = '인클로징!'
    
    def func2():
        x = '로컬!'
        print(x)
        print(locals())
       
        
    func2()
    
func1()

로컬!
{'x': '로컬!'}

In [8]:
x = '글로벌!' 
def func1():
    x = '인클로징!'
    
    def func2(a, b):
        x = '로컬!'
        print(x)
        print(locals())
       
        
    func2(2, 3)
    
func1()

로컬!
{'a': 2, 'b': 3, 'x': '로컬!'}

In [9]:
x = '글로벌!' 


def func1():
    global x
    x = '인클로징!'
    print(x)
    
           
func1()
print(x)

인클로징!
인클로징!

In [ ]:
x = '글로벌!' 
my_list = [1, 2, 3, 4]

def func1():
    my_list[1] = 5554
    
               
func1()
print(my_list)

In [12]:
x =1

def func1():
    x = 2
    
    def func2():
        nonlocal x #글로벌, 로컬 아니고 나를 감싸고 있는 가장 가까운 함수
        x = 3
        print(x)
        
    func2()
    print(x)
    
func1()
print(x)

3
3
1

In [22]:
def func1():
    x = 10
    
    def func2():
        nonlocal x
        
        x = 20
        
    func2()
    print(x)
    
    
func1()
print(x)

20
1

In [26]:
for _ in range(1):
    print('***')
for _ in range(1):
    print('###')

***
###

In [27]:
for _ in range(2):
    print('***')
for _ in range(2):
    print('###')

***
***
###
###

In [28]:
def helloworld():
    print('hello world!')
    
print(helloworld())

helloworld
None

In [ ]:
def sum(a,b):
    return a + b, a -b #튜플 데이터타입으로 가진다

print(sum(1,2))

In [ ]:
def sum(a,b):
    return a + b

print(sum(1,2))

In [32]:
def print_sub(a, b):
    return f'{a}과 {b}의 차는 {a - b}입니다.'

print(print_sub(10, 20))

10과 20의 차는 -10입니다.

In [33]:
def print_sub(a, b):
    return f'{a}과 {b}의 곱은 {a * b}입니다.'

print(print_sub(10, 20))

10과 20의 곱은 200입니다.

In [37]:
a = 1

def func():
    a = 2
func()
print(a)

1

In [38]:
a = 1

def func():
    global a
    a = 2
    
func()
print(a)

2

In [39]:
num_list = [1, 2, 3]


print(sum(num_list))

6

In [2]:
# 1월 19일
def my_magic_func(n):
    return n * 10

my_list = [1, 2, 3, 4, 5]

map_obj = map(my_magic_func, my_list)
print(list(map_obj))

[10, 20, 30, 40, 50]

In [3]:
name_list = ['신동민', '서재현', '박영서', '이태성', '정예원', '이은석']
age_list = [17, 18, 22, 24, 25, 19]

for name, age in zip(name_list, age_list):
    print(name, age)

신동민 17
서재현 18
박영서 22
이태성 24
정예원 25
이은석 19

In [4]:
rlt = (lambda x: x * x)(4)

my_func = lambda n: n * 2
my_func(2)


# def my_magic_func(n):
#    return n * 10

#map_obj = map(my_magic_func, [1, 2, 3])
#rlt = list(map_obj)

# print(rlt)

16

In [6]:
# def my_magic_func(n):
#    return n * 10

map_obj = map(lambda n: n * 10, [1, 2, 3])
rlt = list(map_obj)

print(rlt)

[10, 20, 30]

In [ ]:
#재귀함수 : 자기자신을 호출하는 함수

def recur(0):
    print('뿅')
    recur()
    
    
recur()

In [5]:
def fac(n):
    if n == 0:
        return 1 #for나 while 같은 반복문 멈출때만 break
    return n * fac(n-1)

print(fac(5))

120

In [7]:
#패킹 언패킹 *

x, y = 1, 2
z = 1, 2, 3 #튜플로 재할당 됨

# a, b = 1, 2, 3, 4 #에러남
a, *b = 1, 2, 3, 4 #하나 a에 할당 나머지 b에 할당

print(a, b)

1 [2, 3, 4]

In [10]:
def my_sum(a, b, c):
    return a + b + c

num_list = [10, 20, 30]

# rlt = my_sum(num_list[0], num_list[1], num_list[2])
# ==
rlt = my_sum(*num_list) #언패킹
print(rlt)

60

In [ ]:
def test(*values):
    for value in values:
        print(value)
        
test(1)
test(1, 2)
test(1, 2, 3, 4)

In [ ]:
def my_sum(*agrs):
    rlt = 0
    for value in agrs:
        rlt += value
    return rlt

my_sum() #0
my_sum(1, 2, 3) #6

In [ ]:
def my_sum(a, *agrs):
    rlt = 0
    for value in agrs:
        rlt += value
    return rlt

my_sum() #error
my_sum(1, 2, 3) #6

In [11]:
def test(**kwargs):
    print(kwargs)
    return kwargs


test(name='aiden', age=21)

{'name': 'aiden', 'age': 21}

{'name': 'aiden', 'age': 21}

In [14]:
def test(*args, **kwargs):
    print(args, kwargs)
    kwargs['name']
    return args, kwargs


test(1, 2, 3, 4, name='aiden', age=21, music='IU')

(1, 2, 3, 4) {'name': 'aiden', 'age': 21, 'music': 'IU'}

((1, 2, 3, 4), {'name': 'aiden', 'age': 21, 'music': 'IU'})

In [15]:
import random

num_list = [1, 2, 3, 4]
random.shuffle(num_list)
print(num_list)

[1, 4, 2, 3]

In [17]:
from random import shuffle

num_list = [1, 2, 3, 4]
shuffle(num_list)
print(num_list)

[4, 1, 2, 3]

In [2]:
# 1월 25일
print('aiden'.find('a')) # 첫번째 위치 반환
print('aiden'.find('c')) # 없으면 -1 반환

0
-1

In [6]:
#주어진 문자열에서 숫자, 문자, 기호가
#각각 몇개인지를 판단하는 함수를 작성해보세요.
def check(target_str):
    chars = 0
    nums = 0
    signs = 0
    for i in target_str:
        if i.isalpha(): # 문자열이 문자열인지 아닌지를 불린값으로 리턴
            chars += 1
        elif i.isnumeric(): # 숫자값 표현에 해당하는 문자열까지 인정 불린값으로 리턴
            nums += 1
        else:
            signs += 1
    return f'문자 : {chars}개, 숫자 : {nums}개, 기호 : {signs}개'

check('abcdefghij12!@#$%^*')

#문자 : 10개, 숫자 : 2개, 기호 : 7개 #내가 푼거

'문자 : 10개, 숫자 : 2개, 기호 : 7개'

In [1]:
#주어진 문자열에서 숫자, 문자, 기호가
#각각 몇개인지를 판단하는 함수를 작성해보세요.
def check(target_str):
    chars = 0
    nums = 0
    signs = 0
    for i in target_str:
        if i.isalpha(): 
            chars += 1
        elif i.isdigit(): 
            nums += 1
        else:
            signs += 1
            
    return chars, nums, signs

input_str = '123$%aiden_snow'
chars, nums, signs = check(input_str) #각각 반환
print(f'char: {chars}, digit: {nums}, symbol: {signs}')

char: 9, digit: 3, symbol: 3

In [1]:
class Person:
    count = 0
    def __init__(self, name):
        self.name = name
        Person.count += 1
        
person1 = Person('아이유')
person2 = Person('이찬혁')

print(Person.count)

2

In [ ]:
class Person:
    def __init__(self, name, age):
        print('생성될 때 자동으로 불려요')
        self.name = name
        self.age = age
        
    def __str__(self):
        return '이 클래스를 하나의 문자열로 표현하면 이겁니다'
        
        
aiden = Person('aiden', 23)
print(aiden)
isaac = Person('isaac', 19)
print(aiden > isaac)

In [ ]:
class Person:
    count = 0
    def __init__(self, name):
        self.name = name
        Person.count += 1
        
    @classmethod
    def number_of_population(cls):
        print(f'인구수는{cls.count}입니다.')
        
person1 = Person('아이유')
person2 = Person('이찬혁')

Person.number_of_population()
person1.number_of_population()
person2.number_of_population()

In [2]:
class abc:
    pass
print(type(abc))

<class 'type'>

In [3]:
print(isinstance(1.0, float))

True

In [11]:
print(type(type))

a = [1, 2, 3, 4, 5]
print(type(a))
print(type(a[0]))
print(isinstance(a[0], list))
print(isinstance(a, list))

<class 'type'>
<class 'list'>
<class 'int'>
False
True

In [19]:
class Person:
    blood_color = 'red'
    population = 100
    
    
    def __init__(self, name):
        self.name = name

person1 = Person('지민')
print(person1.name)

지민

In [ ]:
class Person:
    species = 'human' #클래스 이름 공간
    
    def __init__(self, name):
        self.name = name
        
p1 = Person('Hong') # 인스턴스 이름 공간
p2 = Person('Choi') # 인스턴스 이름 공간

In [ ]:
class Person:
    name = 'unknown'
    
    def talk(self):
        print(self.name)
        
        
p1 = Person()
p1.talk() # unknown

p2 = Person()
p2.talk() # unknown
p2.name = 'Kim'
p2.talk() # Kim

print(Person.name) # unknown
print(p1.name) # unknown
print(p2.name) # Kim